<% provide(:title, "About") %>
<h1>Sample App</h1>
<p>
	The <a href="https:www.railstutorial.org"><em>Ruby on Rails Tutorial</em></a> is a
	<a href="http://www.railstutorial.org/book"><em>book</em></a> and 
	<a href="http://screencasts.railstutorial.org/book"><em>screencast series</em></a>
	to teach web development with 
	<a href="http://www.rubyonrails.org"><em>Ruby on Rails</em></a>.
</p>
<p>
	This is the sample application for the tutorial.
</p>